.report-table {
  margin: 20px;
  padding: 20px;
  border: 1px solid #E9C46A;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #101010;
}

.h2-reports {
  text-align: center;
}

.p-report {
  text-align: center;
  font-size: 14px;
}

.table-report {
  width: 100%;
  border-collapse: collapse;
}

.th-report, .td-report {
  border: 1px solid #E9C46A;
  padding: 8px;
  text-align: left;
}

.th-report {
  background-color: #101010;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-function-report {
  width: 21.875rem; 
  padding: 0.5rem;
  border: 0.063rem solid #101010; 
  border-radius: 0.25rem; 
  box-sizing: border-box;
  background-color: #FFD700;
  color: #101010;
  margin-bottom: 0.2rem;
}

.search-function-report:focus {
  outline: none;
  border-color: #FFD700;
  background-color: #101010;
  color: #FFD700;
}

.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.page-item {
  display: inline;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #101010;
  border-radius: 5px;
  background-color: #FFD700;
  color: #101010;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
  background-color: #101010;
  color: #FFD700;
}

.page-item.active .page-link {
  background-color: #101010;
  color: #FFD700;
  cursor: default;
  border-color: #101010;
}